



.main_banner{

  
    background-color: #eee1d8;
   
}

h1,h2,h3{
   
    font-family: Nunito,sans-serif;
  
  
   
}
h3{
    font-size: 20px;
}

.train_text{
    font-size: 17px;
}

p{
    color: #606060;
}
.color_white{
    background-color: #f9f9f9;
}
.text_color{
    color: #221638;
    font-family: Nunito,sans-serif;
    font-weight: 700;
    font-size: 33px;
    line-height: 1.2;
    text-align: start;
    

}



.home_heading{
    color: #221638;
    font-family: Nunito,sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    

}



.circle{
    border-radius: 50%;
    width:25%;
    height: 40%;
    background-color: red;
}


.card_images{
position: relative;
  
}

.price_tag{
    width: 100%;
    position: absolute;
    top: 80%;
    right: 0%; 
}


.font_text{
font-size: 20px !important;
font-weight: 700;
}

.card_box{
    display: flex;
    gap: 1rem;
}

.animation{
  
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
}



.waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: green;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

@media (min-width: 762px){
    .card{
        width: 45% !important;
    }
}



@media (max-width: 762px){
    .card_box{
        display: flex;
       flex-direction: column;
       
        
        
        gap: 1rem;
    }

    .card{
        width: 100% !important;
    }

}



  
