



*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

p{
    font-size: 15px;
    font-weight: 500;
}

.text_p{
    font-size: 15px;
    font-weight: 400;
    
}

h2{
    font-size: 24px ;
    font-weight: 700;
}



